.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin-top: 5px;
  }
}
