// general-settings
$base-size: 16px;

// fonts
$main-font: 'Poppins', sans-serif;
$logo-font: 'Playfair Display', serif;

// general-colors
$main-color: #1b884c;
$bg-white: #ffffff;
$bg-grey: #eeeeee;
$bg-black: #161616;
$bg-dark-transparent: rgba(22, 22, 22, 0.5);
// text-colors
$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-green: #22b464;
$text-color-gold: #f2c94c;

// pulse colors

$pulse-green: #35ec10;

// transition
$transition: all 0.5s ease;

// cell colors
$cell-color-red: #eb1f1f;
$cell-color-black: #000000;
$cell-red-hover: #fa0000;
$cell-color-green: #149952;

// Coin selector background
$coin-selector-bg: #161616;

// buttons colors
$button-color-green: rgba(0, 128, 0, 0.5);
