@import '../../../styles/settings.scss';

.root {
  width: 240px;
  color: $text-color-white;
  font-size: $base-size;
  font-weight: bold;
  right: $base-size * 2;
  top: 2rem;
}

.wrapper {
  margin-top: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  background-color: $bg-black;
  border-radius: 10px;
  position: fixed;
}

.visible {
  max-height: 450px;
}

.hidden {
  max-height: 0;
}
