@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .root {
    width: 100%;
    justify-content: space-evenly;
    scale: 0.9;
    margin: 0 auto;
    gap: 0;
  }
}
