@import '../../../styles/settings.scss';

.wrapper {
  margin-top: $base-size * 2;
  color: $text-color-gold;
  font-size: $base-size;
  font-weight: 600;
  background: $coin-selector-bg;
  padding: 10px 20px;
  border-radius: 20px;
  min-width: 180px;
  span {
    color: $text-color-white;
  }
}
