@import '../../../styles/settings.scss';

.root {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../../../../public/assets/images/table-textures/table-texture-1.jpg');
  user-select: none;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.table_container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1060px) {
  .table_container {
    justify-content: center;
  }
}
