@import '../../../styles/settings.scss';

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-self: center;
  width: 90%;
}

@media (max-width: 1630px) {
  .root {
    scale: 0.8;
  }
}

@media (max-width: 1268px) {
  .root {
    scale: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
